section.title h1::after {
    content: "Presenter name here";
    font-size: 0.2em;
    text-shadow: none;
    text-transform: none;
    display: block;
    margin: 5% auto 0;
}

.no_padding_table td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin_top_2em {
    margin-top: 2em;
}

.reveal section img {
    margin: none !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
